#modal-domain-create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-domain-create-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-domain-create-label.modal-title Добавить Домен
        .modal-body
            form#form-domain-create
                .form-group
                    label.control-label type  
                .form-group.btn-group.btn-group-justified(data-toggle="buttons")
                    span.btn.btn-default.active user
                                input(type="radio",name="type",value="user"  checked="checked")
                    span.btn.btn-default adult
                                input(type="radio",name="type",value="adult")
                    span.btn.btn-default no-adult
                                input(type="radio",name="type",value="noadult")   
                .form-group
                    label user
                    select.form-control.user-select(name="uid")
                .form-group
                    label domain
                    .form-control.domain-input(contenteditable) http://asdasd.sd asds.dsd ya.ru mail.ru
                        a(href="asdf") asdf
                    input(name="domain",type="hidden")
                .form-group
                    label description
                    input.form-control(type='text', name='description',maxlength='255')
        .modal-footer
            button#action-domain-create.btn.btn-primary(type='submit') Добавить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-domain-change.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-domain-change-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-domain-change-label.modal-title Изменить
        .modal-body
            form#form-domain-change
                .form-group
                    label id
                    input.form-control(type='number', name='id',maxlength='255',disabled)
                .form-group
                    label login
                    input.form-control(type='text', name='login',maxlength='255')
                .form-group
                    label passowrd
                    input.form-control(type='text', name='password',maxlength='255')
        .modal-footer
            button#action-domain-change.btn.btn-primary(type='submit') Изменить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-domain-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-domain-delete-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-domain-delete-label.modal-title Удаление пользователя
        .modal-body
            form#form-domain-delete
                .form-group
                    label id
                    input.form-control(type='number', name='id',maxlength='255',disabled)
                .form-group
                    label login
                    input.form-control(type='text', name='login',maxlength='255',disabled)
                .form-group
                    label password
                    input.form-control(type='text', name='password',maxlength='255',disabled)
        .modal-footer
            button#action-domain-delete.btn.btn-primary(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-domain-many-delete.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4#modal-domain-many-delete-label.modal-title Подвердить удаление пользователя 
        .modal-body
        .modal-footer
            button#action-domain-many-delete.btn.btn-danger.btn-ok(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#alert-domain
ul.nav.nav-tabs
    li
        button.btn.btn-primary(data-toggle='modal', data-target='#modal-domain-create') Создать
    li
        a#subpanel-domain-action(href='#subpanel-domain-filter', data-toggle='tab') filter
    li.active
        a#subpanel-googl-action(href='#subpanel-domain-result', data-toggle='tab') result
.tab-content
    #subpanel-domain-filter.tab-pane
        .container
            form.form-horizontal
                .form-group
                .form-group
                    label.control-label.col-sm-2 type
                    .col-sm-10
                        .btn-group.btn-group-justified(data-toggle="buttons")
                            span.btn.btn-default.active all
                                input(type="radio",name="type",value="all" checked="checked")
                            span.btn.btn-default user
                                input(type="radio",name="type",value="user")
                            span.btn.btn-default adult
                                input(type="radio",name="type",value="adult")
                            span.btn.btn-default no-adult
                                input(type="radio",name="type",value="noadult") 
                .form-group
                    label.control-label.col-sm-2 mode
                    .col-sm-10
                        .btn-group.btn-group-justified(data-toggle="buttons")
                            span.btn.btn-default.active all
                                input(type="radio",name="mode",value="all" checked="checked")
                            span.btn.btn-default on
                                input(type="radio",name="mode",value="on")
                            span.btn.btn-default off
                                input(type="radio",name="mode",value="off")
    #subpanel-domain-result.tab-pane.active
        table#table-domain
#toolbar-domain
    button.btn.btn-default(data-toggle='modal', data-target='#modal-domain-many-delete') Удалить выбранное
