doctype html
html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-table.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/bootstrap-select.min.css')
        link(rel='stylesheet', href='/css/blueimp-gallery.min.css')
        link(rel='stylesheet', href='/css/bootstrap-image-gallery.min.css')
        link(rel='stylesheet', href='/css/blueimp-gallery-indicator.css')
        link(rel='stylesheet', href='/css/fileinput.min.css')
        link(rel='stylesheet', href='/css/fuelux.css')
        link(rel='stylesheet', href='/css/admin.css')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/bootstrap-table.min.js')
    body
        .navbar.navbar-inverse(role='navigation')
          .row
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='#') tdsAdminer
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact
        #loading.progress.progress-striped.active(style='display:none',role='progressbar')
            .bar
        #alert
        .navbar(role='navigation')
            .container-fluid
                .row
                    .tabbable
                        ul.nav.nav-pills.nav-stacked.col-md-1
                            li
                                a#panel-domain-action(href='#panel-domain', data-toggle='tab') domain
                            li
                                a#panel-user-action(href='#panel-user', data-toggle='tab') users
                            li
                                a#panel-settings-action(href='#panel-settings', data-toggle='tab') settings
                            li
                                a#panel-server-action(href='#panel-server', data-toggle='tab') server
                        .tab-content.col-md-10
                            #panel-domain.tab-pane
                                include domain
                            #panel-user.tab-pane
                                include user
                            #panel-settings.tab-pane
                                include settings
                            #panel-server.tab-pane
                                include server
        script(src='/js/core.js')
        #buffer
        include login