ul.nav.nav-tabs
    li
        a#subpanel-avcheck-action(href='#subpanel-avcheck', data-toggle='tab') avcheck
    li
        a#subpanel-googl-action(href='#subpanel-googl', data-toggle='tab') goo.gl
.tab-content
    #subpanel-avcheck.tab-pane
        .container
            form#form-avcheck.form-horizontal
                .form-group
                .form-group
                    label.control-label.col-sm-2 url
                    .col-sm-10
                        a.form-control(href="http://avdetect.com/") http://avdetect.com/
                .form-group
                    label.control-label.col-sm-2 login
                    .col-sm-10
                        input.form-control(type='text', name='login',value="root", maxlength='255')
                .form-group
                    label.control-label.col-sm-2 password
                    .col-sm-10
                        input.form-control(type='text', name='password',maxlength='255')
                .form-group
                    label.control-label.col-sm-2 api-key
                    .col-sm-10
                        input.form-control(type='text', name='api',maxlength='255')
                .form-group
                    .col-sm-2
                    .col-sm-10
                        a.btn.btn-default.btn-block(role="button") Сохранить
                        a.btn.btn-primary.btn-block(role="button") Отмена
    #subpanel-googl.tab-pane
        .container
            form#form-googl.form-horizontal
                .form-group
                .form-group
                    label.control-label.col-sm-2 url
                    .col-sm-10
                        a.form-control(href="hhttps://goo.gl/") https://goo.gl/
                .form-group
                    label.control-label.col-sm-2 login
                    .col-sm-10
                        input.form-control(type='text', name='login',value="root", maxlength='255')
                .form-group
                    label.control-label.col-sm-2 password
                    .col-sm-10
                        input.form-control(type='text', name='password',maxlength='255')
                .form-group
                    label.control-label.col-sm-2 api-key
                    .col-sm-10
                        input.form-control(type='text', name='api',maxlength='255')
                .form-group
                    .col-sm-2
                    .col-sm-10
                        a.btn.btn-default.btn-block(role="button") Сохранить
                        a.btn.btn-primary.btn-block(role="button") Отмена
                    