#modal-user-create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-user-create-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-user-create-label.modal-title Создать Пользователя
        .modal-body
            form#form-user-create
                .form-group
                    label login
                    input.form-control(type='text', name='login',maxlength='255')
                .form-group
                    label password
                    input.form-control(type='text', name='password',maxlength='255')
        .modal-footer
            button#action-user-create.btn.btn-primary(type='submit') Создать
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-user-change.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-user-change-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-user-change-label.modal-title Изменить
        .modal-body
            form#form-user-change
                .form-group
                    label id
                    input.form-control(type='number', name='id',maxlength='255',readonly)
                .form-group
                    label login
                    input.form-control(type='text', name='login',maxlength='255')
                .form-group
                    label passowrd
                    input.form-control(type='text', name='password',maxlength='255')
        .modal-footer
            button#action-user-change.btn.btn-primary(type='submit') Изменить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-user-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-user-delete-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#modal-user-delete-label.modal-title Удаление пользователя
        .modal-body
            form#form-user-delete
                .form-group
                    label id
                    input.form-control(type='number', name='id',maxlength='255',disabled)
                .form-group
                    label login
                    input.form-control(type='text', name='login',maxlength='255',disabled)
                .form-group
                    label password
                    input.form-control(type='text', name='password',maxlength='255',disabled)
        .modal-footer
            button#action-user-delete.btn.btn-primary(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-user-many-delete.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4#modal-user-many-delete-label.modal-title Подвердить удаление пользователя 
        .modal-body
        .modal-footer
            button#action-user-many-delete.btn.btn-danger.btn-ok(type='submit') Удалить
            button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#alert-user
#toolbar-user
    .form-inline(role='form')
        .form-group
            button.btn.btn-primary(data-toggle='modal', data-target='#modal-user-create') Создать
        .form-group
            button.btn.btn-default(data-toggle='modal', data-target='#modal-user-many-delete') Удалить выбранное
table#table-user