#modal-author.modal.fade(tabindex='-1', role='dialog', aria-labelledby='model-author-label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4#model-author-label.modal-title Добавить/Изменить
        .modal-body
            form(role="form")
                .form-group
                    label.control-label название
                    input.form-control.input-md(type='text', placeholder='urobos', name='name')
                .form-group
                    label.control-label сайт
                    input.form-control.input-md(type='text', placeholder='urobos', name='home')
                .form-group
                    label.control-label язык
                    select.select-lang.form-control(name='lang')
                      option(value='ru') Русский
                      option(value='en') English
                    button.btn.btn-default.btn-block(type='button',onclick="m('#modal-author','#modal-lang');") добавить язык
                .form-group
                    label.control-label изображение
                    input#modal-author-file.file-loading(type='file', multiple='true', name='image')
        .modal-footer
            button.btn.btn-primary(type='button') Добавить/Изменить
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть