/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.04.2015, 22.04.2015 18:42:47
    Author     : alex
*/

.alert{
    text-align: center;
}
#alert>div{
    margin-bottom: 0px;
}
.modal-dialog.modal-gallery-preview{
    width: 90%;
    max-height:90%;
}
.modal-header.modal-gallery-preview{
    border-bottom: 0;
    padding: 15px;
}
.modal-content.modal-gallery-preview{
    padding: 0;
    /*height: 100%;*/
    /*width: 100%;*/
}
.modal-body.modal-gallery-preview{
    padding: 0;
}
.domain-error{
    text-align: center;
    color: red; 
    text-decoration: underline;
}
.domain-input{
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    overflow: auto;
    resize: auto;
    cursor: auto;
    height: 86px;
    margin: 0;
    font: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
}